@import "tailwindcss";

@keyframes spinAround {
  0% {
    transform: rotate(0deg) translateX(200px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(200px) rotate(-360deg);
  }
}

.spin-around {
  animation: spinAround 10s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center;
}

html {
  scroll-behavior: smooth;
}